.display-area {
	padding: 20px 4%;

	display: flex;
	gap: 20px;
}

.display-area .left {
	width: 340px;

	display: flex;
	flex-direction: column;
	gap: 40px;
}

.display-area .left .types .types-select {
	width: 100%;
}

.display-area .left .show-repairs {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.display-area .left .show-repairs .help-text {
	font-size: 1rem;
	color: rgb(202, 202, 202);
}

.display-area .left .show-repairs .repairs-list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	max-height: 340px;

	overflow: auto;
}

.display-area .left .show-repairs .repairs-list .repair {
	width: min-content;
	max-width: 100%;
	flex-shrink: 0;

	padding: 12px;

	overflow: hidden;
	text-overflow: ellipsis;

	white-space: nowrap;
	font-weight: 700;
	font-size: 1rem;
	color: var(--title-color);
	background-color: var(--list-item-color);

	cursor: pointer;

	transition: color 0.3s ease, background-color 0.3s ease;
}

.display-area .left .show-repairs .repairs-list .repair--selected {
	color: #fff;
	background-color: var(--title-color);
}

.display-area .left .show-repairs .repair-select {
	width: 100%;
}

.display-area .right {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 20px;

	margin-top: calc(15px + 12px);
}

/* slider */
.display-area .right .repair-slider {
}

/* infos */
.display-area .right .repair-infos {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.display-area .right .repair-infos .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.display-area .right .repair-infos .head .left {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.display-area .right .repair-infos .head .left .name {
	white-space: nowrap;
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--title-color);

	display: flex;
	align-items: center;
	gap: 10px;
}

.display-area .right .repair-infos .head .left .name::before {
	content: '';

	width: 4px;
	height: 4px;

	border-radius: 50%;
	background-color: var(--primary-color);
}

.display-area .right .repair-infos .head .left .split-line {
	width: 20px;
	height: 2px;

	background-color: var(--title-color);
}

.display-area .right .repair-infos .head .left .address {
	white-space: nowrap;
	font-weight: 700;
	font-size: 1.2rem;
	color: #878c92;
}

.display-area .right .repair-infos .head .right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	margin: 0;
}

.display-area .right .repair-infos .head .right p {
	font-size: 1rem;
	color: rgb(202, 202, 202);
}

.display-area .right .repair-infos .head .right span {
	color: var(--title-color);
}

.display-area .right .repair-infos .desc {
	font-size: 1rem;
	line-height: 1.6rem;
	color: var(--text-color);
}

/* Responsive */
@media screen and (max-width: 694px) {
	.display-area {
		flex-direction: column;
	}

	.display-area .left {
		width: 100%;
	}
}
